*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* primary color */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    /* Neutral color */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    /* Typography */
    --fs-paragraph: 15px;
    --font-f-Inter: "Inter", sans-serif;
}

body {
    background-color: var(--off-white);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

header {
    grid-area: header;
}

html {
    font-size: var(--fs-paragraph);
    font-family: var(--fs-paragraph);
}

.hero {
    grid-area: hero;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas: "header header header" "hero hero aside" "hero hero aside" "footer footer footer";
    gap: 25px;
    height: fit-content;
    width: 100%;
    max-width: 1040px;
    /* overflow-x: hidden; */
}