*,
*::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* primary color */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    /* Neutral color */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    /* Typography */
    --fs-paragraph: 15px;
    --ff: 'Inter', sans-serif;
}

body {
    background-color: var(--off-white);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

header {
    grid-area: header;
}

.main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}


/* utitliy styles */

.container {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas: "header header header" "main main aside" "main main aside" "footer footer footer";
    gap: 25px;
}

html {
    font-family: var(--ff);
    font-size: var(--fs-paragraph);
}

header {
    margin-top: 50px;
}

.nav_mobile {
    display: none;
}

.collapse navbar-collapse li {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.menu {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 60px;
}

li {
    list-style: none;
    padding: 15px;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue)
}

.menu a:hover {
    color: var(--soft-red)
}

.web-3,
picture {
    display: block;
    width: 100%;
}

.main-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-title {
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 800;
}

.main-blog {
    margin-top: 30px;
}


/* Button features */

.read-more-btn {
    background-color: var(--soft-red);
    color: var(--off-white);
    padding: 15px 20px;
    letter-spacing: 5px;
    margin-top: 40px;
    border: none;
}

.read-more-btn:hover {
    background-color: var(--very-dark-blue);
    cursor: pointer;
}


/* aside styles */

aside {
    background-color: var(--very-dark-blue);
    color: var(--grayish-blue);
    padding: 20px;
}

aside h2 {
    color: var(--soft-orange);
    font-size: 2.2rem;
}

aside a {
    color: var(--off-white);
}

aside a:hover {
    color: var(--soft-orange);
}

aside h3 {
    margin: 0.6rem 0;
}

aside {
    height: fit-content;
    background-color: var(--very-dark-blue);
    width: 100%;
}

aside article {
    margin: 20px 0;
}


/* aside .article-sections>p:nth-child(even) {
    border-bottom: 1px solid var(--off-white);
} */


/* aside.article-sections.border-btm>p {
    border-bottom: 1px solid var(--off-white);
} */

aside>article>p {
    line-height: 1.7rem;
}

aside>article>.border-btm {
    border-bottom: 1px solid var(--grayish-blue);
    margin: 1.8rem 0.3rem;
}


/* Footer styles */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
}

footer article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}

footer h2 {
    color: var(--grayish-blue);
    font-size: 2.5rem;
}

footer a {
    color: var(--very-dark-blue);
}

footer a:hover {
    color: var(--soft-red);
}

footer h3 {
    margin: .6rem 0;
    font-weight: 800;
}

footer p {
    line-height: 1.7rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--dark-grayish-blue);
    text-align: center;
}


/* Desktop styles */

@media only screen and (max-device-width: 750px) {
    .nav_desktop {
        display: none;
    }
    header {
        width: 100%;
        margin-top: 1.3rem;
    }
    .logo {
        width: 20%;
    }
    .nav_mobile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 400px;
    }
    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-blog {
        margin-top: 0px;
    }
    .read-more-btn {
        margin-top: 1.6rem;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}